@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Registro de Funcionários</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Bem vindo ao programa de registro de funcionários</h2>
        <p>
            Neste programa é possível cadastrar, consultar, atualizar e deletar funcionários. Além de calcular os gastos da empresa, por mês, com salário de funcionários.
        </p>
    </div>
</div>